<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

    <section class="container">
        <h1>
            <span class="title">Welcome to</span>
            <span class="title">ChronoByte</span>
            <span class="title"> </span>
        </h1>
        
        <div class="button" onclick="startChronoByte()">Start</div>
    </section>

    <section class="form-container">
        <header>
            <h1>Chrono Bytes</h1>
        </header>

        <main id="mainFormWrapper">
            
            <form id="requestForm">
                <label for="query">Query?</label>
                <textarea name="query" id="query" placeholder="I want to eat cheap new york style pizza" required></textarea>

                <label for="time">Travel Time? (in minutes):</label>
                <input type="number" name="time" placeholder="30" required>

                <label for="currentDate">Current Date:</label>
                <input type="text" id="currentDate" name="currentDate" placeholder="Select date" required>

                <label for="currentTime">Current Time (HH:MM):</label>
                <input type="text" id="currentTime" name="currentTime" placeholder="Enter time" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" required>

                <input type="submit" value="Submit">
            </form>

{#            <img src="{{ url_for('static', filename='chef.jpeg') }}" alt="Decorative Image">#}
        </main>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        let loc_lat = 0;
        let loc_long = 0;

        flatpickr("#currentDate", {
            dateFormat: "Y-m-d",
            minDate: "today",
        });

        flatpickr("#currentTime", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
        });

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setLocationGlobals);
            } else {
                document.getElementById('location').innerHTML = 'Geolocation is not supported by this browser.';
            }
        }

        function setLocationGlobals(position){
            loc_lat = position.coords.latitude;
            loc_long = position.coords.longitude;
        }


        // Adding JavaScript for form submission
        document.getElementById('requestForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the form from actually submitting

            // Retrieve all the fields
            const formData = new FormData(document.getElementById('requestForm'));

            const query = formData.get("query");
            const duration = formData.get("time");
            const curr_date = formData.get("currentDate");
            const curr_time = formData.get("currentTime");

            const curr_unix_time = parseInt((new Date(`${curr_date} ${curr_time}`).getTime() / 1000).toFixed(0))

            // Generate the path string
            const url = `/process/${query}/${curr_unix_time}/${duration}/${loc_lat}/${loc_long}`
            window.location.href = url
        });

        // Adding JavaScript to show the form when "Start" is clicked
        function startChronoByte() {
            const container = document.querySelector('.container');
            const formContainer = document.querySelector('.form-container');

            container.style.display = 'none';
            formContainer.style.display = 'block';
        }

        getLocation();
    </script>
</body>
</html>
